<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOFzbCDP4gfevHV4WPXLfQLgMvFUu_HR8</string>
	<key>GCM_SENDER_ID</key>
	<string>850472822805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bluetooth</string>
	<key>PROJECT_ID</key>
	<string>loop-db-a7b33</string>
	<key>STORAGE_BUCKET</key>
	<string>loop-db-a7b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850472822805:ios:0445f2266bc1472a9b061c</string>
</dict>
</plist>